{% extends 'CAM/base.html' %}



{% block CAM %}
<h1>Computer Numerical Control</h1>
<p>
  The term CNC stands for 'computer numerical control', and the CNC machining definition is that it is a subtractive
manufacturing process which typically employs computerized controls and machine tools to remove layers of material
from a stock piece—known as the blank and produces a custom-designed part.
</p>

<p>
  CNC Machines are controlled by software, for example Sinumeric, Fanuc, Haidenhain or Okuma.
CNC machine software accepts CNC programs in a language specific to each controller.
This programs control different actions that CNC machine takes to produce designed part.
However, digging deeper into the world of CNC it can get more complex. For example, a CNC machine can host a
wide variety of different functions including routeing, milling, drilling, cutting and measuring which means
they are incredibly complex and versatile machines.
</p>
<p>
 The popularity of CNC machining has grown massively over the past few years. The popularity has grown as the need for
manual labour is almost eliminated, meaning little need to employ, saving money from wages, along with the ability
to repeat creations multiple times.
</p>

{% endblock %}