{% extends 'CAD/base.html' %}
{% block tool_list_content %}

<h3>Lang Inno Grip template for Siemens NX</h3><br>

<h4>Tired of repeating the same designing process over and over again?</h4>
<p>

    With Siemens NX Product Template Studio you can configure complex products into simple and reusable product templates.
    The software allows to define custom dialog boxes to control part models, add advanced design controls to a template,
    build requirement checks, and create visual rules.
</p>

<p>
    You can use Lang Inno Grip clamping system template to
    easily modify clamping jaws type, shape, position and diameter. Just open template file in NX and choose " Edit reusable component"
    to see custom dialog box that will allow you to modify assembly design. See video below for more details.
</p>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/0dwhxLvmvGM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br>
<h4>Download, use, enjoy !</h4>
  <div class="row">
    <div class="col-md-8">
<p>You can find Lang Inno Grip NX template on my GitHub repository: </p>
    </div>
      <div class="col-md-4">
<a class="btn btn-primary" href="https://github.com/ErykKurzepa/LANG-SYSTEM" aria-expanded="false" aria-controls="collapseExample" target="_blank">
    Go to template on GitHub
  </a>
      </div></div>

{% endblock %}